<h1>Tweet Feeds </h1>
<div class="row">
  <%= will_paginate %>
	<% @feeds.each do |feed| %>
    <div class="col-xs-12 col-md-8">
	  @<%= feed.screen_name %> 
	  <span> | <small> Feed time: <i> <%= feed.created_at %></i></small></span>
	  <%= simple_format(feed.content) %>
	  
	  </div>
	<% end %>
	<%= will_paginate %>
</div>
<%#= @tweets %>